:root{
    --black: #020202;
    --off-white: #f1efe8;
    --safety-green: #3D8B37;
    --concrete: #8a8c88;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

/* NAV BAR */
#navbar {
    max-height: 80px;
    background-color: var(--black);
    display: flex;
    color: var(--off-white);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-family: "Inter", sans-serif;
}

#navbar img {
    width: 50px;
    height: 50px;
    padding:0.5rem 0.5rem;
    margin: 0;
}

#navbar h1 {
    font-size: 24px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 5rem;
    align-items: center;
    max-width: 395px;
    margin: 0;
    
}

.nav-list a {
    text-decoration: none;
    color: var(--off-white);
}

.nav-list li {
    font-weight: bold;
    font-family: inter;
}

/* Container Div */
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Hero Section */
.hero {
    background-image: url("/images/B5\ hero\ image\ 1.png");
    color: var(--off-white);
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    
    margin: 0 auto;
    padding: 10rem 4rem;
}

.hero::before {
    content: "";
    background-color: rgba(26, 26, 26, 0.55);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
}

.hero-section {
    position: relative;
    z-index: 1;
    color: var(--off-white);
    display: flex;
    flex-direction: column;
}

.hero-section h1 {
    font-size: 60px;
}

.hero-section p {
    margin: 0 5rem;
    padding: 0 0 40px;
}

.btn-primary {
    display: inline-block;
    background-color: var(--safety-green);
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 180px;
    height: 56px;
    border-radius: 6px;
    padding: 16px 32px;
}

/* After section */
.who-we-are {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}


.who-we-are ul {
    color: var(--safety-green);
    
}

li::marker {
    color: #020202;
}

.who-we-are hr {
    border: 1.5px solid black;
    display: block;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

.who-we-are div {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    max-height: 66px;
    text-align: center;
    align-items: center;
    margin-bottom: 117px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 4rem;
}

.cards div, .cards p{
    align-items: center;
    text-align: center;
}

.cards div{
    width: 353px;
    height: 218px;
    display: flex;
    flex-direction: column;
    background-color: rgb(from var(--safety-green) r g b / 0.7);
    padding: 32px;
    font-weight: bold;   
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.cards div img{
    height: 50px;
    width: 50px;
}

/* stats */
.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 0.20);
    max-width: 1003px;
    margin: 0 auto;
}

.stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 54px;
    padding: 80px;
    width: 100%;
    font-weight: bold;
    max-height: 300px;
}



.stats h1{
    color: var(--safety-green);
    font-size: 58px;
}